In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [247]:
# May take a few seconds to run since the dataset is large
df = pd.read_excel('stock_data_super_large.xlsx')

In [249]:
# We have around 4000 companies in the dataset, 188 columns 
df.head()

,Identifier (RIC),Company Name,Industry,ESG_FY0,ESG_FY1,ESG_FY2,ESG_FY3,ESG_FY4,ESG_FY5,ESG_FY6,...,MCAP_FQ22,MCAP_FQ23,MCAP_FQ24,MCAP_FQ25,MCAP_FQ26,MCAP_FQ27,MCAP_FQ28,MCAP_FQ29,MCAP_FQ30,MCAP_FQ31
0,B,Barnes Group Inc,Machinery,47.280059,39.716448,39.364964,33.635145,24.153344,25.935442,18.761357,...,2.758021e+09,2.551881e+09,2.183471e+09,1.778151e+09,1.880405e+09,1.942959e+09,1.971735e+09,2.136121e+09,2.218038e+09,2.015078e+09
1,ITT.N,ITT Inc,Machinery,78.612516,70.722850,68.409017,59.747878,58.301170,54.710253,58.075415,...,3.637016e+09,3.401874e+09,3.211264e+09,2.881398e+09,3.313802e+09,3.250640e+09,2.988642e+09,3.732128e+09,3.607767e+09,3.706136e+09
2,GTLS.N,Chart Industries Inc,Machinery,56.790911,43.968150,41.893694,16.687256,21.707709,24.478215,NaN,...,1.073148e+09,1.102080e+09,1.004369e+09,7.381859e+08,6.643657e+08,5.485793e+08,5.867633e+08,1.091904e+09,1.071162e+09,1.042462e+09
3,PKOH.OQ,Park Ohio Holdings Corp,Machinery,11.351879,12.015005,12.092304,12.603972,12.932632,2.580297,NaN,...,4.514671e+08,5.277162e+08,4.575630e+08,3.473865e+08,5.381970e+08,4.654001e+08,3.641802e+08,6.055063e+08,6.581418e+08,7.885708e+08
4,ZWS.N,Zurn Elkay Water Solutions Corp,Building Products,61.015179,59.600678,42.460351,22.930730,21.765882,22.323763,NaN,...,2.371729e+09,2.013093e+09,2.199966e+09,1.996711e+09,2.049765e+09,1.818622e+09,1.703909e+09,2.434572e+09,2.714624e+09,2.868755e+09

In [222]:
# fiscal year 7 has the least number of ESG observations
#df.loc[:,'ESG_FY0':'ESG_FY7'].count(axis=0)
# drop ESG_FY7 to have more non-NA data
#df.drop('ESG_FY7', axis=1, inplace=True)
# if we drop FY7, then we can 18 more observations (417 vs ~300) after dropping NaNs
#df_drop = df.dropna(inplace=True)

In [232]:
df.count()

Identifier (RIC)    4243
Company Name        4243
Industry            4243
ESG_FY0             1926
ESG_FY1             1837
                    ...
MCAP_FY3            1669
MCAP_FY4            1636
MCAP_FY5            1590
MCAP_FY6            1561
MCAP_FY7            1531
Length: 188, dtype: int64

In [250]:
# find the average market cap for each company, column lables MCAP_FY0 ~ MCAP_FY7
df['avg_mcap'] = df.loc[:,'MCAP_FQ0':'MCAP_FQ31'].mean(axis=1)
# same for ESG score
df['avg_esg'] = df.loc[:,'ESG_FY0':'ESG_FY6'].mean(axis=1)
# same for price
df['avg_price'] = df.loc[:,'Price_CM0':'Price_CM135'].mean(axis=1)
# book to market ratio
df['avg_btm'] = df.loc[:,'BTM_FQ0':'BTM_FQ31'].mean(axis=1)

In [251]:
# produce two dataframes, one with market cap lower than the median, one with market cap higher than the median
df_mcap_low = df[df['avg_mcap'] < df['avg_mcap'].median()]
df_mcap_high = df[df['avg_mcap'] >= df['avg_mcap'].median()]

# produce two dataframes, one with Price / Book Value Per Share lower than the median, one with Price / Book Value Per Share higher than the median
df_BM_low = df[df['avg_btm'] < df['avg_btm'].median()]
df_BM_high = df[df['avg_btm'] >= df['avg_btm'].median()]

# now for ESG score
df_esg_low = df[df['avg_esg'] < df['avg_esg'].median()]
df_esg_high = df[df['avg_esg'] >= df['avg_esg'].median()]

In [252]:
# check how many rows are in each dataframe
print(df_mcap_low.shape)

(2105, 219)

In [254]:
# find the return of each company, column lables Price_FY0 ~ Price_FY7
# return is Price_FY6 - Price_FY0
# for low market cap group:
df_mcap_low['mcap_low_return'] = df_mcap_low['Price_CM135'] - df_mcap_low['Price_CM0']

# for high market cap group:
df_mcap_high['mcap_high_return'] = df_mcap_high['Price_CM135'] - df_mcap_high['Price_CM0']

# for low book-to-market group:
df_BM_low['BM_low_return'] = df_BM_low['Price_CM135'] - df_BM_low['Price_CM0']

# for high book-to-market group:
df_BM_high['BM_high_return'] = df_BM_high['Price_CM135'] - df_BM_high['Price_CM0']

# for low ESG score group:
df_esg_low['esg_low_return'] = df_esg_low['Price_CM135'] - df_esg_low['Price_CM0']

# for high ESG score group:
df_esg_high['esg_high_return'] = df_esg_high['Price_CM135'] - df_esg_high['Price_CM0']

In [256]:
# calculate the returns
# for market cap:
# return is calculated as Price_CM135 - Price_CM0
# for low market cap group:
df_mcap_low['mcap_low_return'] = df_mcap_low['Price_CM135'] - df_mcap_low['Price_CM0']
# for high market cap group:
df_mcap_high['mcap_high_return'] = df_mcap_high['Price_CM135'] - df_mcap_high['Price_CM0']

# for book-to-market:
# return is calculated as Price_CM135 - Price_CM0
# for low book-to-market group:
df_BM_low['BM_low_return'] = df_BM_low['Price_CM135'] - df_BM_low['Price_CM0']
# for high book-to-market group:
df_BM_high['BM_high_return'] = df_BM_high['Price_CM135'] - df_BM_high['Price_CM0']

# for ESG score:
# return is calculated as Price_CM135 - Price_CM0
# for low ESG score group:
df_esg_low['esg_low_return'] = df_esg_low['Price_CM135'] - df_esg_low['Price_CM0']
# for high ESG score group:
df_esg_high['esg_high_return'] = df_esg_high['Price_CM135'] - df_esg_high['Price_CM0']

In [ ]:
# now calculate the return spread for each group
# for market cap:

In [203]:
# rank the companies and find the medium
# split the data into two groups, one with the companies that have a market cap above the median, and one with the companies that have a market cap below the median
df_avg['Rank'] = df_avg['Mkt. Cap (M)'].rank(ascending=False)
df_avg_low = df_avg[df_avg['Rank'] > df_avg['Rank'].median()]
df_avg_high = df_avg[df_avg['Rank'] <= df_avg['Rank'].median()]

# count the number of companies in each group
print('Number of companies with a market cap above the median: ', len(df_avg_high))
print('Number of companies with a market cap below the median: ', len(df_avg_low))

Number of companies with a market cap above the median:  5356
Number of companies with a market cap below the median:  5355